<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aloogn.wjdc.bill.mapper.BillMapper">
  <resultMap id="BaseResultMap" type="com.aloogn.wjdc.bill.bean.Bill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="methodId" jdbcType="INTEGER" property="methodId" />
    <result column="dates" jdbcType="TIMESTAMP" property="dates" />
    <result column="sums" jdbcType="REAL" property="sums" />
    <result column="sortId" jdbcType="INTEGER" property="sortId" />
    <result column="descs" jdbcType="VARCHAR" property="descs" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, methodId, dates, sums, sortId, descs, userId, createTime, updateTime
  </sql>
  
  <select id="countByMap" parameterType="map" resultType="java.lang.Long">
    select distinct count(*)
    from bill b, billMethod bm, billSort bs 
    where 
     b.methodId = bm.id and b.sortId = bs.id and b.userId=${userId}
     <if test="billId != null">
      and b.id=${billId}
     </if>
     <choose>
	    <when test="type != null and type == all">
	        <if test="minSum != null">
		      and b.sums <![CDATA[ < -1*]]> ${minSum} and b.sums <![CDATA[ >= ]]> ${minSum}
		    </if>
		    <if test="maxSum != null">
		      and b.sums <![CDATA[ < ]]> ${maxSum} and b.sums <![CDATA[ >= -1*]]> ${maxSum}
		    </if>
	    </when>
	    <otherwise>
	        <if test="minSum != null">
		      and b.sums <![CDATA[ >= ]]> ${minSum}
		    </if>
		    <if test="maxSum != null">
		      and b.sums <![CDATA[ < ]]> ${maxSum}
		    </if>
	    </otherwise>
	 </choose>
     <if test="startTime != null">
      and b.dates <![CDATA[ >= ']]> ${startTime} <![CDATA[']]>
     </if>
     <if test="endTime != null">
      and b.dates <![CDATA[ < ']]> ${endTime} <![CDATA[']]> 
     </if>
     <if test="methodId != null">
      and b.methodId = ${methodId}
     </if>
     <if test="sortId != null">
      and b.sortId = ${sortId}
     </if>
     <if test="condition != null">
      and (
      	b.descs like '%${condition}%' 
      	or bs.name like '%${condition}%' 
      	or bs.descs like '%${condition}%' 
      	or bm.name like '%${condition}%' 
      	or bm.descs like '%${condition}%'
   	  )
     </if> 
  </select>
  
  <select id="selectByMap" parameterType="map" resultType="java.util.HashMap">
    select distinct 
    b.id as id, b.dates as dates, bm.id as methodId, bm.name as methodName,
    b.sums as sums, bs.id as sortId, bs.name as sortName 
    <if test="all != null">
     , b.descs as descs, b.createTime as createTime, b.updateTime as updateTime 
    </if>
    from bill b, billMethod bm, billSort bs 
    where 
     b.methodId = bm.id and b.sortId = bs.id and b.userId=${userId}
     <if test="billId != null">
      and b.id=${billId}
     </if>
     <if test="type != null and type == all">
      and b.sums <![CDATA[ >= ]]> ${minSum}
     </if>
     <choose>
	    <when test="type != null and type == all">
	        <if test="minSum != null">
		      and b.sums <![CDATA[ < -1*]]> ${minSum} and b.sums <![CDATA[ >= ]]> ${minSum}
		    </if>
		    <if test="maxSum != null">
		      and b.sums <![CDATA[ < ]]> ${maxSum} and b.sums <![CDATA[ >= -1*]]> ${maxSum}
		    </if>
	    </when>
	    <otherwise>
	        <if test="minSum != null">
		      and b.sums <![CDATA[ >= ]]> ${minSum}
		    </if>
		    <if test="maxSum != null">
		      and b.sums <![CDATA[ < ]]> ${maxSum}
		    </if>
	    </otherwise>
	 </choose>
     <if test="startTime != null">
      and b.dates <![CDATA[ >= ']]> ${startTime} <![CDATA[']]>
     </if>
     <if test="endTime != null">
      and b.dates <![CDATA[ < ']]> ${endTime} <![CDATA[']]> 
     </if>
     <if test="methodId != null">
      and b.methodId = ${methodId}
     </if>
     <if test="sortId != null">
      and b.sortId = ${sortId}
     </if>
     <if test="condition != null">
      and (
      	b.descs like '%${condition}%' 
      	or bs.name like '%${condition}%' 
      	or bs.descs like '%${condition}%' 
      	or bm.name like '%${condition}%' 
      	or bm.descs like '%${condition}%'
   	  )
     </if>
    <if test="sortName != null">
      order by ${sortName}
    </if>
    <if test="currentPage != null and pageSize != null">
       limit ${currentPage},${pageSize}
    </if>
   
  </select>
  
  
  
  <select id="selectByExample" parameterType="com.aloogn.wjdc.bill.bean.BillCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aloogn.wjdc.bill.bean.BillCriteria">
    delete from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aloogn.wjdc.bill.bean.Bill">
    insert into bill (id, methodId, dates, 
      sums, sortId, descs, userId, 
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{methodId,jdbcType=INTEGER}, #{dates,jdbcType=TIMESTAMP}, 
      #{sums,jdbcType=REAL}, #{sortId,jdbcType=INTEGER}, #{descs,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aloogn.wjdc.bill.bean.Bill">
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="methodId != null">
        methodId,
      </if>
      <if test="dates != null">
        dates,
      </if>
      <if test="sums != null">
        sums,
      </if>
      <if test="sortId != null">
        sortId,
      </if>
      <if test="descs != null">
        descs,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="methodId != null">
        #{methodId,jdbcType=INTEGER},
      </if>
      <if test="dates != null">
        #{dates,jdbcType=TIMESTAMP},
      </if>
      <if test="sums != null">
        #{sums,jdbcType=REAL},
      </if>
      <if test="sortId != null">
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="descs != null">
        #{descs,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aloogn.wjdc.bill.bean.BillCriteria" resultType="java.lang.Long">
    select count(*) from bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bill
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.methodId != null">
        methodId = #{record.methodId,jdbcType=INTEGER},
      </if>
      <if test="record.dates != null">
        dates = #{record.dates,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sums != null">
        sums = #{record.sums,jdbcType=REAL},
      </if>
      <if test="record.sortId != null">
        sortId = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.descs != null">
        descs = #{record.descs,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        userId = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bill
    set id = #{record.id,jdbcType=INTEGER},
      methodId = #{record.methodId,jdbcType=INTEGER},
      dates = #{record.dates,jdbcType=TIMESTAMP},
      sums = #{record.sums,jdbcType=REAL},
      sortId = #{record.sortId,jdbcType=INTEGER},
      descs = #{record.descs,jdbcType=VARCHAR},
      userId = #{record.userId,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aloogn.wjdc.bill.bean.Bill">
    update bill
    <set>
      <if test="methodId != null">
        methodId = #{methodId,jdbcType=INTEGER},
      </if>
      <if test="dates != null">
        dates = #{dates,jdbcType=TIMESTAMP},
      </if>
      <if test="sums != null">
        sums = #{sums,jdbcType=REAL},
      </if>
      <if test="sortId != null">
        sortId = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="descs != null">
        descs = #{descs,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aloogn.wjdc.bill.bean.Bill">
    update bill
    set methodId = #{methodId,jdbcType=INTEGER},
      dates = #{dates,jdbcType=TIMESTAMP},
      sums = #{sums,jdbcType=REAL},
      sortId = #{sortId,jdbcType=INTEGER},
      descs = #{descs,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>